*{
  box-sizing:border-box;
}
span{
  font-weight:bold;
}
img{
  display:block;
  max-width:100%;
  height: auto;
  margin:0 auto;
}
main{
  background-color:#e5e7e9;
}
#img-div{
  background-color:white;
}
h1,p{
  text-align:center;
}
figcaption{
  text-align: center;
}
label ul li{
  margin: 0 2rem;
  padding: 5px 0;
  
}
